.Usercontainer {
  padding: 0 27% 10% 27%;
  background-image: linear-gradient(#da4df1, #9ac8f0);
  color: white;
  background-repeat: no-repeat;
  overflow: auto;
  height: 100%;
}

.userimg {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 4px solid #3e0343;
}

.LinkButton {
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.LinkButton:hover {
  background: white;
  color: #834c9d !important ;
  cursor: pointer;
}
.Blogs {
  border: 2px solid white;
  width: 96%;
}

.Dropdown {
  background: white;
  color: #834c9d;
  margin-top: 10px;
  padding: 6px;
}

a {
  color: #834c9d;
  text-decoration: none;
}
a:hover {
  color: #094492;
  text-decoration: none;
}
